<div class="mt-1 ml-3">
  <h1 class="text-4xl font-medium mb-2"><%= I18n.t('devise.views.resend_instructions') %></h1>

  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <div class="form-inputs my-2">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label_html: { class:'block my-1' },
                  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                  input_html: { autocomplete: "email", class: 'rounded-md shadow-sm focus:ring-transparent mx-2 border-gray-400' } %>
    </div>

    <div class="form-actions my-2">
      <%= f.button :submit, I18n.t('devise.views.resend_confirmation_instructions'), class: "p-3 bg-blue-700 hover:bg-blue-800 rounded-md shadow-sm font-medium text-white" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
