<h2><%= I18n.t('devise.views.edit') %> <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>

    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p><%= I18n.t('devise.views.waiting_confirmation') %>: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: I18n.t('devise.views.leave_it_blank') ,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: I18n.t('devise.views.current_password') ,
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, I18n.t('devise.views.update') %>
  </div>
<% end %>

<h3><%= I18n.t('devise.views.cancel_account') %></h3>

<%= button_to I18n.t('devise.views.cancel_account') , registration_path(resource_name), data: { confirm: I18n.t('helpers.buttons.are_you_sure'), turbo_confirm: "Are you sure?" }, method: :delete %>

<%= link_to I18n.t('helpers.buttons.back') , :back %>
