<div class="flex w-7/8 p-2 m-2 bg-gray-200 border border-solid border-gray-300 rounded-md text-sm">
  <%= simple_form_for(:outflow, html: {class: "inline-flex flex-wrap items-center w-full justify-between"}, url: outflows_path, method: :get) do |f| %>
    <%= f.error_notification %>
    <div class="p-1 font-medium text-md">
      <h5><%= I18n.t('helpers.search.by_date') %></h5>
    </div>
    <div class="p-1 place-self-center">
      <%= f.input :created_at_from, as: :date, id: 'created_at_from', placeholder: I18n.t('helpers.search.from'), label_html: {class: "pr-1 text-xs xl:text-md"}, input_html: {class: "rounded-md border-gray-400 w-36"} %>
    </div>
    <div class="p-1 place-self-center">
      <%= f.input :created_at_to, as: :date, id: 'created_at_to', placeholder: I18n.t('helpers.search.to'), label_html: {class: "pr-1 text-xs xl:text-md"}, input_html: {class: "rounded-md border-gray-400 w-36"} %>
    </div>
    <div class="p-1 self-end">
      <%= f.button :submit, I18n.t('helpers.buttons.search'), class: "p-2.5 bg-blue-500 hover:bg-blue-600 rounded-md shadow-sm font-medium text-white" %>
    </div>
  <% end %>
</div>