<div>
	<div>
		<%= render 'shared/notice', notice: notice %>
	</div>

	<div>
		<div>
			<div>
			  <div><h4><%= @notification.title %></h4></div>
			  <div>
			    <p><%= @notification.text %></p>
			    <p><%= I18n.t('activerecord.attributes.notifications.due_date') %>:
			    	<%= I18n.l(@notification.due_date, format: :short) %></p>
			    <p><%= I18n.t('activerecord.attributes.notifications.done')%> <%=checkbox(@notification.done) %></p>
			  </div>
			</div>
		</div>
	</div>

	<div>
		<div>
			<button type="button">
				<%= link_to I18n.t('helpers.buttons.edit'), edit_notification_path(@notification) %>
			</button>
		</div>
		<div>
			<button type="button">
				<%= link_to I18n.t('helpers.buttons.back'), notifications_path %>
			</button>
		</div>
	</div>

</div>