<div class="m-3">

  <div> <!-- header and datepicker -->
    <h1 class="mr-12 self-center text-4xl font-medium inline-block"><%= I18n.t('views.headers.pages.statistics') %></h1>

    <div class="inline-block w-fit p-2 m-2 bg-gray-200 border border-solid border-gray-300 rounded-md text-sm">
      <%= simple_form_for(:pages, html: {class: "inline-flex flex-wrap items-center w-full justify-between"}, url: statistics_path , method: :get) do |f| %>
        <%= f.error_notification %>
        <div class="p-1 place-self-center inline-block">
          <%= f.input :date_from, as: :date, id: 'date_from', placeholder: I18n.t('helpers.search.from'), label_html: {class: "pr-1 text-xs xl:text-md"}, input_html: {class: "rounded-md border-gray-400 w-36"} %>
        </div>
        <div class="p-1 place-self-center inline-block">
          <%= f.input :date_to, as: :date, id: 'date_to', placeholder: I18n.t('helpers.search.to'), label_html: {class: "pr-1 text-xs xl:text-md"}, input_html: {class: "rounded-md border-gray-400 w-36"} %>
        </div>
        <div class="p-1 place-self-center inline-block">
          <%= f.button :submit, I18n.t('helpers.buttons.search'), class: "p-2.5 bg-blue-500 hover:bg-blue-600 rounded-md shadow-sm font-medium text-white" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-12 my-2 gap-2"> <!-- grid begins -->
  
    <!-- gross income/sales per product -->
    <div class="col-span-12 lg:col-span-6">
      <div class="m-2 p-3 w-11/12 bg-green-500 border-green-600 rounded-md shadow-sm">
        <h3 class="text-white text-center text-3xl">
          <span class="font-medium"><%= I18n.t('views.body.pages.statistics.gross_income') %>: </span>
          $<%= number_with_precision(@statistics[:gross_income], strip_insignificant_zeros: true) %>
        </h3>
      </div>

      <div class="m-2 p-2 w-11/12 bg-green-500 border-green-600 rounded-md shadow-sm">
        <h3 class="text-white text-center text-2xl"><%= I18n.t('views.body.pages.statistics.sales_per_product') %></h3>
      </div>

      <table class="table-auto p-2 mx-2 w-11/12">
        <thead>
          <tr class="border border-gray-200 bg-gray-200 text-center text-sm text-gray-600 uppercase">
            <th class="p-3"><%= I18n.t('activerecord.models.product.one') %></th>
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.quantity') %></th>
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.total') %></th>
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.percentage') %></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr class="border border-gray-200 bg-gray-100 hover:bg-gray-200 text-sm md:text-md text-center">
              <td><%= product.name.capitalize %></td>
              <td><%= number_with_precision(product.units_sold, strip_insignificant_zeros: true) %>  <%= product.unit %></td>
              <td>$<%= number_with_precision(product.sales_total.round(2), strip_insignificant_zeros: true) %></td>
              <td><%= percent_of(product.sales_total, @statistics[:gross_income]).round(2) %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- total expenses / exp per supplier -->
    <div class="col-span-12 lg:col-span-6">  
      <div class="m-2 p-3 w-11/12 bg-red-500 border-red-600 rounded-md shadow-sm">
        <h3 class="text-white text-center text-3xl">
          <span class="font-medium"><%= I18n.t('views.body.pages.statistics.total_expenses') %>: </span>
          $<%= number_with_precision(@statistics[:total_expenses], strip_insignificant_zeros: true) %>
        </h3>
      </div>

      <div class="m-2 p-2 w-11/12 bg-red-500 border-red-600 rounded-md shadow-sm">
        <h3 class="text-white text-center text-2xl"><%= I18n.t('views.body.pages.statistics.exp_per_supplier') %></h3>
      </div>

      <table class="table-auto p-2 mx-2 w-11/12">
        <thead>
          <tr class="border border-gray-200 bg-gray-200 text-center text-sm text-gray-600 uppercase">
            <th class="p-3"><%= I18n.t('activerecord.models.supplier.one') %></th>
            <th class="p-3"><%= I18n.t('activerecord.attributes.outflows.total') %></th>
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.percentage') %></th>
          </tr>
        </thead>
        <tbody>
          <% @suppliers.each do |supplier| %>
            <% supplier_total = supplier.outflows.sum('total') %>
            <tr class="border border-gray-200 bg-gray-100 hover:bg-gray-200 text-sm md:text-md text-center">
              <td><%= supplier.name %></td>
              <td>$<%= number_with_precision(supplier_total, strip_insignificant_zeros: true) %></td>
              <td><%= percent_of(supplier_total, @statistics[:total_expenses]).round(2) %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- cost of goods sold -->
    <div class="col-span-12 lg:col-span-6">
      <div class="m-2 p-3 w-11/12 bg-red-500 border-red-600 rounded-md shadow-sm">
        <h3 class="text-white text-center text-3xl">
          <span class="font-medium"><%= I18n.t('views.body.pages.statistics.total_cogs') %>: </span>
          $<%= number_with_precision(total_cogs(@statistics[:consumables]), strip_insignificant_zeros: true) %>
        </h3>
      </div>

      <table class="table-auto p-2 mx-2 w-11/12">
        <thead>
          <tr class="border border-gray-200 bg-gray-200 text-center text-sm text-gray-600 uppercase">
            <th class="p-3"><%= I18n.t('activerecord.models.supply.one') %></th>
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.quantity') %></th>
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.total') %></th>
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.percentage') %></th>
          </tr>
        </thead>
        <tbody>
          <% @statistics[:consumables].each do |consumable| %>
            <tr class="border border-gray-200 bg-gray-100 hover:bg-gray-200 text-sm md:text-md text-center">
              <td><%= consumable.name %></td>
              <td><%= number_with_precision(consumable.units_bought, strip_insignificant_zeros: true) %>  <%= consumable.unit %></td>
              <td>$<%= number_with_precision(consumable_total(consumable), strip_insignificant_zeros: true) %></td>
              <td><%= percent_of(consumable_total(consumable), total_cogs(@statistics[:consumables])).round(2) %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- operative expenses -->
    <div class="col-span-12 lg:col-span-6">
      <% total_op_ex = total_operative_expenses(@statistics[:operative_expenses]) %>
      
      <div class="m-2 p-3 w-11/12 bg-red-500 border-red-600 rounded-md shadow-sm">
        <h3 class="text-white text-center text-3xl">
          <span class="font-medium"><%= I18n.t('views.body.pages.statistics.total_operative_expenses') %>: </span>
          $<%= number_with_precision(total_op_ex, strip_insignificant_zeros: true) %>
        </h3>
      </div>

      <table class="table-auto p-2 mx-2 w-11/12">
        <thead>
          <tr class="border border-gray-200 bg-gray-200 text-center text-sm text-gray-600 uppercase">
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.supply_name') %></th>
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.supplier_name') %></th>
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.supplier_op_ex') %></th>
            <th class="p-3"><%= I18n.t('views.body.pages.statistics.percentage') %></th>
          </tr>
        </thead>
        <tbody>
          <% @statistics[:op_ex_by_supplier].each do |op_ex| %>
            <tr class="border border-gray-200 bg-gray-100 hover:bg-gray-200 text-sm md:text-md text-center">
              <td><%= op_ex[:supply_name] %></td>
              <td><%= op_ex[:supplier_name] %></td>
              <td>$<%= number_with_precision(op_ex[:expenses], strip_insignificant_zeros: true) %></td>
              <td><%= percent_of(op_ex[:expenses],total_op_ex).round(2) %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- balance -->
    <div class="col-span-12 justify-self-center">
      <div class="m-2 p-3 w-11/12 bg-blue-500 border-blue-600 rounded-md shadow-sm">
        <h3 class="text-white text-center text-3xl">
          <span class="font-medium"><%= I18n.t('views.body.pages.statistics.balance') %>: </span>
          $<%= number_with_precision(@statistics[:balance], strip_insignificant_zeros: true) %>
        </h3>
      </div>
    </div>

  </div> <!-- grid ends -->
</div>

<!--script>
  $( function() {
    $( "#pages_date_from" ).datepicker();
    $( "#pages_date_to" ).datepicker();
  } );
</script-->