<%= simple_form_for(@product, html: {}) do |f| %>

  <div class="m-3 grid lg:w-1/5 w-1/3">
    <%= f.error_notification %>
    <div class="m-2">
      <%= f.input :name, input_html: {class: 'rounded-md shadow-sm focus:ring-transparent mx-2 border-gray-400'} %>
    </div>
    <div class="m-2">
      <%= f.input :price, input_html: {class: 'rounded-md shadow-sm focus:ring-transparent mx-2 border-gray-400'} %>
    </div>
    <div class="m-2">
      <%= f.input :unit, collection: [
          [ I18n.t('views.body.unit.kg'), :kg], 
          [ I18n.t('views.body.unit.u'), :u]
        ], prompt: I18n.t('simple_form.prompts.defaults.unit'), input_html: {class: 'rounded-md shadow-sm focus:ring-transparent mx-2 border-gray-400 w-full'} %>
    </div>
    <div class="m-2">
      <%= f.input :stock, input_html: {class: 'rounded-md shadow-sm focus:ring-transparent mx-2 border-gray-400'} %>
    </div>
    <div class="m-2">
      <%= f.input :notification_threshold, input_html: {class: 'rounded-md shadow-sm focus:ring-transparent mx-2 border-gray-400'} %>
    </div>
  </div>

  <div class="grid grid-cols-12 m-3">
		<div class="col-span-6 md:col-span-4 lg:col-span-3 xl:col-span-2">
			<button type="button" class="p-3 bg-white hover:bg-gray-100 border border-gray-400 rounded-md shadow-sm font-medium">
				<%= link_to I18n.t('helpers.buttons.back'), products_path, data: { confirm: I18n.t('helpers.buttons.are_you_sure')} %>
			</button>
		</div>
		<div class="col-span-2 place-content-end">
      <%= f.button :submit, class: "p-3 bg-blue-700 hover:bg-blue-800 rounded-md shadow-sm font-medium text-white" %>
		</div>
	</div>

<% end %>