<div class="m-3">
  <h1 class="text-4xl font-medium"><%= @product.name %></h1>

  <div class="mt-4 mr-6 inline-block">
    <span class="font-medium uppercase text-sm"><%= I18n.t('activerecord.attributes.products.price') %>:  </span>
    $<%= @product.price %>
  </div>

  <div class="my-2 mr-6 inline-block">
    <span class="font-medium uppercase text-sm"><%= I18n.t('activerecord.attributes.products.stock') %>:  </span>
    <%= number_with_precision(@product.stock, strip_insignificant_zeros: true) %><%= @product.unit.capitalize %>
  </div>

  <div class="mt-4 mr-6 inline-block">
    <span class="font-medium uppercase text-sm">
      <%= I18n.t('activerecord.attributes.products.notification_threshold') %>:  
    </span>
    <%= number_with_precision(@product.notification_threshold, strip_insignificant_zeros: true) %><%= @product.unit.capitalize %>
  </div>

  <div class="grid grid-cols-12 m-4">
		<div class="col-span-10 md:col-span-4 xl:col-span-2">
			<button type="button" class="p-3 bg-white hover:bg-gray-100 border border-gray-400 rounded-md shadow-sm font-medium">
				<%= link_to I18n.t('helpers.buttons.back'), products_path %>
			</button>
		</div>
		<div class="col-span-2 md:col-span-6">
			<button type="button" class="m-1 p-3 bg-green-600 hover:bg-green-700 rounded-md shadow-sm text-white">
				<%= link_to I18n.t('helpers.buttons.edit'), edit_product_path(@product) %>
			</button>
		</div>
	</div>

  <h4 class="text-2xl font-medium mb-3"><%= I18n.t('views.body.show.history') %></h4>

  <table class="table-auto w-7/8 p-1">
    <thead>
      <tr class="border border-gray-200 bg-gray-200 text-center text-sm text-gray-600 uppercase">
        <th class="p-3"><%= I18n.t('activerecord.attributes.inflows.created_at') %></th>
        <th class="p-3"><%= I18n.t('activerecord.attributes.inflow_items.quantity') %></th>
        <th class="p-3"><%= I18n.t('activerecord.attributes.inflows.total') %></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.order(created_at: :desc).each do |item| %>
        <tr class="border border-gray-200 bg-gray-100 hover:bg-gray-200 text-sm md:text-md text-center">
          <td><%= I18n.l(item.created_at, format: :short) %></td>
          <td><%= number_with_precision(item.quantity, strip_insignificant_zeros: true) %>  <%= item.product.unit.capitalize %></td>
          <td>$<%= number_with_precision(item.quantity * item.product.price, strip_insignificant_zeros: true) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @transactions %>

</div>